<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/index">
            <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-small is-light" href="/index"><strong>Home</strong></a>
                    <a class="button is-small is-light" href="/logout"><strong>Logout</strong></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--Navbar End-->
<section id="questions-main" class="section">
  <div class="columns">
    <div class="column is-4">
      <!--Ask New Question -->
      <article class="panel">
        <p class="panel-heading">
          Ask a new Question!
        </p>
        <div class="panel-block">
          <div class="control">
            <label for="title" class="label">Title</label>
            <input class="input mb-2" type="text" placeholder="Enter a title for your question" id="title-input">
            <label for="content" class="label">Content</label>
            <textarea id="question-input" class="textarea" placeholder="Provide any necessary details"></textarea>
            <input class="button mt-3" type="submit" value="Submit" id="question-form">
          </div>
        </div>
      </article>
      <!--Unanswered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Unanswered Questions
        </p>
        <ul>
        {{#each questions}}
        {{#unless answer}}
          <li>
            <a class="panel-block" data-id="{{ id }}">
              <span class="panel-icon">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
              {{ title }}
            </a>
          </li>
        {{/unless}}
        {{/each}}
        </ul>
      </article>
      <!--Answered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Answered Questions
        </p>
        <ul>
        {{#each questions}}
        {{!-- {{#if answer}} --}}
          <li>
            <a class="panel-block" data-id="{{ id }}">
              <span class="panel-icon">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
              {{ title }}
            </a>
          </li>
        {{!-- {{/if}} --}}
        {{/each}}
        </ul>
      </article>
    </div>
    <!--Display the clicked question-->
    <div class="column is-8">
      <div class="box" id="question-box">
        <h3 id="question-heading">Just asking for a friend...</h3>
        <div id="display-question">
          <h4 id="display-question-title">{{questions.0.title}}</h4>
          <p id="display-question-content" class="mt-1">{{questions.0.question}}</p>
          <p id="display-createdAt" class="content is-small mt-3">{{questions.0.createdAt}}</p>
        </div>
        <hr>
        <!--Displays the answers to the question that was clicked from the panels-->
        <div>
          <h3 id="answers-heading">Answers</h3>
          <div class="content">
            <ol id="answer-list">
            </ol>
          </div>
        </div>
        <hr>
        <!--Input to answer a question-->
        <h3 id="answer-form-heading">Submit Your Answer</h3>
        <form action="">
          <div class="control">
            <textarea class="textarea mb-2" id="answer-input" placeholder="Enter your answer here" rows="8"></textarea>
            <input class="button" type="submit" value="Submit" id="answer-add">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>