<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
    </a>
  </div>

  <div class="navbar-start">
    <a class="navbar-item" href="/index">Home</a>
  </div>
  <!--Log Out Button-->
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/logout">Log Out</a>
      </div>
    </div>
  </div>
</nav>
<!--Navbar End-->
<section class="section">
  <div class="columns">
    <div class="column is-4">
      <!--Ask New Question -->
      <article class="panel">
        <p class="panel-heading">
          Ask a new Question!
        </p>
        <div class="panel-block">
          <div class="control">
            <label for="title" class="label">Title</label>
            <input class="input mb-2" type="text" placeholder="Enter a title for your question" id="title-input">
            <label for="content" class="label">Content</label>
            <textarea id="question-input" class="textarea" placeholder="Provide any necessary details"></textarea>
            <input class="button mt-3" type="submit" value="Submit" id="question-form">
          </div>
        </div>
      </article>
      <!--Unanswered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Unanswered Questions
        </p>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>Tech</a>
          <a>Pop Culture</a>
          <a>Automotive</a>
          <a>Health/Nutrition</a>
        </p>
        <ul>
          {{#each questions}}
          <li>
            {{!-- {{#unless answer}} --}}
            <a class="panel-block" data-id="{{ id }}">
              <span class="panel-icon">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
              {{ title }}
            </a>
            {{!-- {{/unless}} --}}
          </li>
          {{/each}}
        </ul>
      </article>
      <!--Answered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Answered Questions
        </p>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>Tech</a>
          <a>Pop Culture</a>
          <a>Automotive</a>
          <a>Health/Nutrition</a>
        </p>
        {{#each Questions}}
        <a class="panel-block" data-id="{{ id }}">
          <span class="panel-icon">
            <i class="fas fa-question" aria-hidden="true"></i>
          </span>
        </a>
        {{/each}}
      </article>
    </div>
    <!--Display the clicked question-->
    <div class="column is-8">
      <div class="box">
        <div id="display-question">
          <p class="title" id="display-question-title">{{questions.0.title}}</p>
          <p class="subtitle" id="display-question-content">{{questions.0.question}}</p>
        </div>
        <hr>
        <!--Displays the answers to the question that was clicked from the panels-->
        <div>
          <h3 id="answers-heading">Answers</h3>
          <div class="content">
            <ol id="answer-list">
              {{#each Answers}}
              <li>{{answer}}</li>
              {{/each}}
            </ol>
          </div>
        </div>
        <hr>
        <!--Input to answer a question-->
        <h3 id="answer-form-heading">Answer This Question</h3>
        <form action="">
          <div class="control">
            <textarea class="textarea mb-2" id="answer-input" placeholder="Enter your answer here" rows="8"></textarea>
            <input class="button" type="submit" value="Submit" id="answer-add">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>